[submodule "libs/bencode"]
	path = libs/bencode
	url = https://github.com/Ferdinand-vW/bencode.git
	branch = master
[submodule "libs/neither"]
	path = libs/neither
	url = https://github.com/LoopPerfect/neither.git
	branch = master
	ignore = dirty
[submodule "libs/sqlite_orm"]
	path = libs/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "libs/terminalpp"]
	path = libs/terminalpp
	url = https://github.com/KazDragon/terminalpp.git
[submodule "libs/gsl-lite"]
	path = libs/gsl-lite
	url = https://github.com/gsl-lite/gsl-lite.git
[submodule "libs/FTXUI"]
	path = libs/FTXUI
	ignore = dirty
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "epoll_wrapper"]
	path = libs/epoll_wrapper
	url = https://github.com/Ferdinand-vW/epoll_wrapper.git
